.ProfileBaseContainer{
    width: 100%;
    height: 40rem;
}
.profile-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.paginator{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pages{
    margin-left: 5px;
    margin-right: 5px;
}
.disabled-page{
    cursor: default;
    background-color: lightslategray;
}
.profile-elements:last-child{
   margin-bottom: 5vh;
}
#GeneralContainer{
   padding: 20px;
   margin: auto;
   width: 60%;
   border-radius: 5px;
   margin-top: 5vh;
   display: flex;
   flex-direction: column;
   background-color: #ADD8E6;
}

#GeneralContainer:hover{
    background-color: #b3ccff;
}
.general-row{
    flex: 1;
    width: 60%;
    margin: auto;
}
.general-row-button{
    margin: auto;
}
.general-row-column{
    display: flex;
    flex-direction: row;
}
 .submit{
    margin-top: 20px;
}
.general{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.general-data{
    font-weight: bold;
    font-size: 30;
}
#StreamContainer{
    padding: 20px;
    margin: auto;
    width: 60%;
    border-radius: 5px;
    margin-top: 5vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #ADD8E6;
  }
  #StreamContainer:hover{
    background-color: #b3ccff;
}
 #VideosContainer{
    padding: 20px;
    margin: auto;
    width: 60%;
    border-radius: 5px;
    margin-top: 5vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #ADD8E6;
 }
 #VideosContainer:hover{
    background-color: #b3ccff;
}
 .profile-container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
 }
.video-row{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    font-weight: bold;
}
.video-element{
    flex:1;
}
.profile-videos-add{
    padding-bottom: 10px;
    border-bottom: black 1px solid;
}
.general-profile-data{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-input{
    width: 50%;
}
.button-input{
    width: 50%;
}
.form-container{
   flex: 1;
}