
.LiveStreamZone {
    margin: auto;
    background-color: #b3ccff;
    width: 60%;
    min-height: 55vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}
.VideoListingZone{
    width: 100%;
    background-color: #6699ff;
    text-align: center;
}
.VideoListing{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    min-height: 25rem;
}

.VideoPlayer{
    margin: auto;
    background-color: blanchedalmond;
    width: 90%;
    height: 60%;
}
.VideoPlayer:hover{
    border-bottom: 10px solid darkmagenta;
    border-left: 10px solid darkmagenta;
}
.arrow{
    height: inherit;
    background-color: black;
    flex: 1;
    opacity: 0.1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow:hover{
    opacity: 0.4;
}
.arrow-empty{
    flex:14;
}
.carousel-arrows{
  display: flex;
  flex-direction: row;
  position: absolute;
  width: inherit;
  height: 25rem;
}