
.LiveStreamZone {
    margin: auto;
    background-color: #b3ccff;
    width: 60%;
    height: 55vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display:flex;
    align-items: center;
    justify-content: center;
}    
.VideoListingZone{
    width: 100%;
    background-color: #00008B;
    text-align: center;
    color:white;
    padding-bottom: 50px;
}
.VideoListing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 25rem;
    grid-gap: 30px;
    margin-top: 30px;
}

.VideoListingZone h3{
    font-weight: bold;
    font-size: 25px;
}
.VideoPlayer{
    margin: auto;
    width: 90%;
    height: 60%;
    position: relative;
    flex:3;
    min-height: 20rem;
    /*padding-top: 56.25%  Player ratio: 100 / (1280 / 720) */
}
.react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  .player-wrapper{
      display: flex;
      flex-direction: column;
  }
  .player-meta{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      padding-left: 20px;
      margin: 20px;
  }
  .avatar{
   height: 3rem;
   width: 3rem;
   border-radius: 50%;
   padding: 2px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   background-color: #569CCE;
  }
.text-meta{
    padding: 5px;
    margin-left: 15px;
}
.meta-general{
    display: flex;
    align-items: flex-start;
}
.show-label{
    text-decoration: underline;
}
.show-label:hover{
    cursor: pointer;
    color: blue;
}