*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.Nav {
    width: 100%;
    height: 5rem;
    background-color:whitesmoke ;
    box-shadow:  1px 1px 3px 3px #888888;
    display: flex;
    flex-direction: row;
}

.NavItems{
  flex: 1;
  text-align: center;
  text-justify:distribute;
}

#ProfileLink{
    text-align: right;
}
#ProfileLink h3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 1rem;
    margin-bottom: 0;
}


#HomeLink h1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-bottom: 0;
}
#HomeLink:hover {
    background-color: darkseagreen;
}
#NavGap{
    flex:3;
}
.LiveStreamZone {
    width: auto;
    height: 30rem;
    background-color: blue;
    display: flex;
    flex-direction: row;
}

.SelectVideoContainer{
    width: auto;
    height: 30rem;
    background-color: red;
    text-align: center;
}
.VideoListing{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25rem;
}

.ListPlayerContainers{
    margin: auto;
    background-color: blanchedalmond;
    width: 15%;
    height: 80%;
}
.ProfileBaseContainer{
    width: 100%;
    height: 40rem;
    background-color: blueviolet;
}

.DropDown{
    position: relative;
    display: inline-block;
    height: 100%;
}

.DropDown-content{
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: cornsilk;
    width: 100%;
    text-align: center;

}
.dd-elements{
    flex: 1;
}
.DropDown:hover .DropDown-content{
    display: flex;
}
.dd-elements:hover{
    background-color: darkkhaki;
}
.DropDown:hover {
    background-color: darkseagreen;
}
#RegisterContainer {
    margin: auto;
    width: 50vw;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
}
.form{
    width: 100%;
    height: 50vh;
    margin-top: 10vh;
    background-color: blanchedalmond;
}
.form input{
    margin: auto;
    width: 70%;
}
.form label{
    margin: auto;
}
.form-elements{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.button {
    padding: 1em;
    background-color: white;
}
#LoginContainer {
    margin: auto;
    width: 50vw;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
}

.profile-elements{
    width: 100%;
    min-height: 50vh;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
}
#GeneralContainer{
   margin: auto;
   width: 60%;
   min-height: 40vh;
   background-color: blue;
   margin-top: 5vh;
   display: flex;
   flex-direction: column;
}
#StreamContainer{
    margin: auto;
    width: 60%;
    min-height: 30vh;
    background-color: blue;
    margin-top: 5vh;
    text-align: center;
 }
 #VideosContainer{
    margin: auto;
    width: 60%;
    min-height: 40vh;
    background-color: blue;
    margin-top: 5vh;
 }

.general-profile-data{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    margin: auto;
    width: 30%;
}
.text-input{
    width: 50%;
}
.button-input{
    width: 50%;
}
.form-container{
    display: flex;
    flex-direction: column;
}
.stream{
  flex:1;
  background-color: burlywood;
  border: black 1px solid;
}
.stream-main{
    flex:2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stream-secondary{
    display: flex;
    justify-content: center;
    align-items: center;

}
.stream-secondary-container{
    width: 100%;
    height: 50%;
    background-color: brown;
}
.stream-primary-container{
  width: 95%;
  height: 95%;
  background-color: cyan;
}

.arrow{
    width: 5%;
    color: white;
}
.arrow-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.arrow-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.left-1{
    margin-left: 1vw;
}
.right-1{
    margin-right: 1vw;
}